
<h1>Stupid Coaching</h1>
<div class="alert alert-light question" role="alert">
<%= @question %><br>
<p>-You</p>
</div>

<div class="alert alert-warning answer" role="alert">
<strong><%= @answer %><br></strong>
<p>-Your coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
